<!-- Notifications toggle -->
<button mat-icon-button (click)="openPanel()" #shoppingCarOrigin>
    <ng-container *ngIf="itemCount > 0">
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span class="flex items-center justify-center flex-shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-blue-600 text-indigo-50 text-xs font-medium">
                {{itemCount}}
            </span>
        </span>
    </ng-container>
    <mat-icon [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
</button>

<!-- Shopping Car panel -->
<ng-template #shoppingCarPanel>

    <div class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button
                    mat-icon-button
                    (click)="closePanel()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Carrito de compras</div>
        </div>

        <!-- Content -->
        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Items -->
            <ng-container *ngFor="let detail of details; trackBy: trackByFn">
                <div>
                    <div class="flex flex-auto py-5 pl-6">
                        <ng-container *ngTemplateOutlet="shoppingCarContent"></ng-container>
                    </div>
                </div>

                <!-- Item content template -->
                <ng-template #shoppingCarContent>
                    <!-- Image -->
                    <ng-container *ngIf="detail.item.urlImage">
                        <img
                            class="flex-shrink-0 w-18 h-18 mt-2 mr-10 rounded-full overflow-hidden object-cover"
                            [src]="detail.item.urlImage"
                            [alt]="'Image del producto'">
                    </ng-container>
                    <!-- Name, price, quantity and subtotal -->
                    <div class="flex flex-col flex-auto">
                        <ng-container *ngIf="detail.item.name">
                            <div class="line-clamp-1 text-xl text-blue-900 font-serif">
                                {{detail.item.name}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="detail.item.price">
                            <div class="line-clamp-2">
                                Precio: {{detail.item.price}} [Bs]
                            </div>
                        </ng-container>
                        <div class="line-clamp-2 text-secondary">
                            Cantidad: {{detail.quantity}}
                        </div>
                        <div class="mt-2 text-lg leading-none text-secondary font-semibold">
                            Subtotal: {{(detail.item.price * detail.quantity)}} [Bs]
                        </div>
                    </div>
                </ng-template>
            </ng-container>

            <!-- No Items -->
            <ng-container *ngIf="!details || !details.length">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon
                            class="text-primary-500-700"
                            [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">Sin productos</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">Cuando tu agregues productos podras verlos aqui</div>
                </div>
            </ng-container>

        </div>

        <!-- Footer -->
        <ng-container *ngIf="details.length || details.length > 0">
            <div class="items-center pr-4 pl-6 bg-gray-400 text-on-primary">
                <div class="text-lg font-medium leading-10">Total: {{total}} [Bs]</div>
            </div>
        </ng-container>
    </div>

</ng-template>
