<form [formGroup]="itemForm">
    <div class="flex flex-wrap justify-between">
        <!-- Name -->
        <div class="mt-8 flex-auto" [ngClass]="{'mr-8': item.key}">
            <mat-form-field class="w-full ">
                <mat-label>Nombre del Item</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:tag"></mat-icon>
                <input matInput [formControlName]="'name'" placeholder="Nombre del Item" [spellcheck]="false" [errorStateMatcher]="matcher">
                <mat-error *ngIf="itemForm.get('name').errors">
                    {{matcher.getErrorMessage('name', itemForm)}}
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Stock -->
        <div class="mt-8">
            <mat-label class="font-medium">Stock del producto</mat-label>
            <div class="flex items-center">
                <mat-form-field class="w-full">
                    <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:chart-pie"></mat-icon>
                    <input type="number" matInput [formControlName]="'stock'" placeholder="stock" [spellcheck]="false" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="itemForm.get('stock').errors">
                        {{matcher.getErrorMessage('stock', itemForm)}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <ng-container *ngIf="item.key">
        <div class="mt-4 text-center">
            <button mat-menu-item (click)="openDialog()">
                <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                <span class="ml-2">Editar Imagen</span>
            </button>
        </div>
    </ng-container>

    <div class="grid grid-cols-2">
        <div class="mt-4">
            <mat-form-field class="w-full">
                <mat-label>Unidad de venta</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:scale"></mat-icon>
                <input matInput [formControlName]="'unitOfMeasurement'" placeholder="Unidad de venta" [spellcheck]="false" [errorStateMatcher]="matcher">
                <mat-error *ngIf="itemForm.get('unitOfMeasurement').errors">
                    {{matcher.getErrorMessage('unitOfMeasurement', itemForm)}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mt-4 pl-4">
            <mat-form-field class="w-full">
                <mat-label>Precio</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:currency-dollar"></mat-icon>
                <input type="number" matInput [formControlName]="'price'" placeholder="Precio" [spellcheck]="false" [errorStateMatcher]="matcher">
                <mat-error *ngIf="itemForm.get('price').errors">
                    {{matcher.getErrorMessage('price', itemForm)}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="mt-4">
        <mat-form-field class="w-full">
            <mat-label>Categoria</mat-label>
            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:clipboard-list"></mat-icon>
            <input matInput [formControlName]="'category'" placeholder="Categoria del producto" [spellcheck]="false" [errorStateMatcher]="matcher">
            <mat-error *ngIf="itemForm.get('category').errors">
                {{matcher.getErrorMessage('category', itemForm)}}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="mt-4">
        <mat-form-field class="w-full ">
            <mat-label>Descripcion</mat-label>
            <textarea matInput [formControlName]="'description'" placeholder="Descripcion" [spellcheck]="false" [errorStateMatcher]="matcher" cols="30" rows="3"></textarea>
            <mat-error *ngIf="itemForm.get('description').errors">
                {{matcher.getErrorMessage('description', itemForm)}}
            </mat-error>
        </mat-form-field>
    </div>
</form>