<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-fixed bg-cover bg-center bg-card h-80" style="background-image: url(./assets/images/banner/banner3.png)">
        <div class="z-10 relative flex flex-col items-center">
            <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full max-w-80 sm:max-w-120 mt-8 sm:mt-8">
                <input
                    matInput
                    [placeholder]="'Buscar producto'">
                <mat-icon
                    matPrefix
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
            </mat-form-field>
        </div>
    </div>
    <!-- Header -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                [animationDuration]="'0'">
                <!-- All -->
                <mat-tab label="Todos">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <ng-container *ngIf="items$ | async as items">
                                <ng-container *ngIf="items.length; else empyt">
                                    <ng-container *ngFor="let item of items; let i = index">
                                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="flex flex-col items-center mt-2">
                                                <!-- Image -->
                                                <ng-container *ngIf="item.urlImage">
                                                    <div class="flex h-60 w-auto mx-auto">
                                                        <img class="rounded-lg bg-cover" src="{{item.urlImage}}">
                                                    </div>
                                                </ng-container>
                                                <div class="tracking-tight leading-6 truncate pt-4 font-bold font-serif text-xl">{{item.name}}</div>
                                                <div class="flex mx-auto my-4">
                                                    <mat-icon svgIcon="heroicons_outline:currency-dollar"></mat-icon>
                                                    <div class="max-w-none ml-6 text-xl">                                            
                                                        {{item.price}} [Bs]
                                                    </div>
                                                </div>
                                                <button class="fuse-mat-button-rounded hover:bg-primary-300 w-full" mat-flat-button [color]="'primary'" (click)="itemDetailFindByKey(item.key)">
                                                    <span>Agregar al carrito</span>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>