<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full dark:bg-transparent">
        <mat-drawer class="w-full dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto">
                <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
                    <div class="z-10 relative flex flex-col items-center" >
                        <h2 class="text-xl font-semibold">emidevs</h2>
                        <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                            TIENDA ONLINE DE TICKETS
                        </div>
                        <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                            COMPRA TICKETS DE TUS EVENTOS FAVORITOS DE MANERA RAPIDA Y SENCILLA </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto w-full px-6 max-w-xs sm:max-w-screen-xl mx-auto">
                    <!-- Filters -->
                    <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none mt-4">
                        <!-- Categories -->
                        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                            <mat-select [formControl]="categoryControl">
                                <ng-container *ngFor="let category of categories">
                                    <mat-option value={{category}}>
                                        <span class="ml-2 font-medium">{{category}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
                            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Buscar...'">
                        </mat-form-field>
                        <!-- Datapicker Range -->
                        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-64 mt-4 sm:mt-0 sm:ml-auto">
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input readonly formControlName="start" matStartDate placeholder="Inicial">
                                <input readonly formControlName="end" matEndDate placeholder="Final">
                            </mat-date-range-input>
                            <button *ngIf="range.controls.start.value" mat-icon-button matTooltip="Quitar">
                                <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
                            </button>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <!-- Events -->
                    <ng-container *ngIf="events$ | async as events">
                        <ng-container *ngIf="events.length; else empty">
                            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                                <ng-container *ngFor="let event of events; trackBy: trackByFn">
                                    <a [routerLink]="['./', event.key]">
                                        <div class="flex flex-col h-120 shadow rounded-xl overflow-hidden bg-card">
                                            <div class="flex flex-col p-5">
                                                <!-- Event title -->
                                                <div class="mt-1 h-10 text-3xl font-medium text-center">
                                                    {{ event.name |  slice:0:20 }}{{event.name.length > 20 ? '...' : ''}}
                                                    <!-- Status -->
                                                    <ng-container *ngIf=" (event.status|lowercase) === 'active'">
                                                        <mat-icon class="icon-size-5 text-green-600" [svgIcon]="'heroicons_solid:badge-check'" [matTooltip]="'Registro de movimiento activo'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngIf=" (event.status|lowercase) === 'inactive'">
                                                        <mat-icon class="icon-size-5 text-red-600" [svgIcon]="'heroicons_solid:ban'" [matTooltip]="'Registro de movimiento inactivo'"></mat-icon>
                                                    </ng-container>
                                                </div>
                                                <div class="mt-4 text-lg font-medium"> <img class="w-full h-60" src="{{event.urlImage}}"> </div>
                                                <div class="w-full h-1 my-6 border-t-2"></div>
                                                <!-- Date -->
                                                <div class="flex items-center leading-5 text-lg text-secondary">
                                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                    <div class="ml-1.5">Fecha:
                                                        <a class="text-blue-500">{{event.createdDate | date:'mediumDate'}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Footer -->
                                            <div class="flex flex-col w-full mt-auto">
                                                <!-- button -->
                                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                                    <button
                                                        mat-stroked-button
                                                        [routerLink]="[event.key]">
                                                        <span class="inline-flex items-center">
                                                            <span>Mas informacion</span>
                                                            <mat-icon
                                                                class="ml-1.5 icon-size-5"
                                                                [svgIcon]="'heroicons_solid:arrow-sm-right'">
                                                            </mat-icon>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                    <!-- No Records -->
                    <ng-template #empty>
                        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent mt-10">
                            <mat-icon class="icon-size-20" [svgIcon]="'iconsmind:file_search'"></mat-icon>
                            <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Sin Eventos</div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>