<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="flex items-center justify-between bg-teal-600 w-full h-16 p-6 pt-0 pb-0 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl truncate">Detalles del Item</span>
            </div>
            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:dots-vertical"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="toggleEditMode(true)">
                        <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                        <span class="ml-2">Editar Item</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="deleteItem()">
                        <mat-icon class="text-red-500" svgIcon="heroicons_outline:trash"></mat-icon>
                        <span class="text-red-500">Eliminar</span>
                    </button>
                </mat-menu>

                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Name -->
                <div class="mt-3 text-4xl text-blue-900 font-bold truncate">{{item.name}}</div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-2">
                    <!-- Image -->
                    <ng-container *ngIf="item.urlImage">
                        <div class="flex h-50 w-64 mx-auto">
                            <img class="rounded-lg" src="{{item.urlImage}}">
                        </div>
                    </ng-container>
                    <!-- Name -->
                    <div class="flex sm:items-center">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:puzzle"></mat-icon>
                            <div class="max-w-none ml-6 text-xl">                                            
                                <span class="text-primary-500">
                                    Nombre:
                                </span> 
                                    {{item.name}}</div>
                        </div>
                    </div>
                    <!-- Category -->
                    <ng-container *ngIf="item.category">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:clipboard-list"></mat-icon>
                            <div class="ml-6 leading-6">
                                <div class="flex flex-wrap items-center">
                                    <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                        <span class="text-sm font-medium whitespace-nowrap">{{item.category}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Value -->
                    <ng-container *ngIf="item.price">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:currency-dollar"></mat-icon>
                            <div class="max-w-none ml-6 text-xl">                                            
                                <span class="text-primary-500">
                                    Precio:
                                </span> 
                                    $ {{item.price}}</div>
                        </div>
                    </ng-container>

                    <!-- Unit -->
                    <ng-container *ngIf="item.unitOfMeasurement">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:scale"></mat-icon>
                            <div class="max-w-none ml-6 text-xl">                                            
                                <span class="text-primary-500">
                                    Unidad de venta:
                                </span> 
                                {{item.unitOfMeasurement}}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Stock -->
                    <ng-container *ngIf="item.stock">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:chart-pie"></mat-icon>
                            <div class="max-w-none ml-6 text-xl">                                            
                                <span class="text-primary-500">
                                    stock:
                                </span> 
                                {{item.stock}}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Description -->
                    <div class="flex sm:items-center">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:document-text"></mat-icon>
                            <div class="max-w-none ml-6 text-xl">                                            
                                <span class="text-primary-500">
                                    Descripcion:
                                </span> 
                                    {{item.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="flex items-center justify-between bg-teal-600 w-full h-16 p-6 pt-0 pb-0 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl">
                    {{ item.key === ''? 'Registrar': 'Editar'}} Item
                </span>
            </div>
            <div class="flex items-center">
                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 pb-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <form [formGroup]="itemForm">
                    <div class="flex flex-wrap justify-between">
                        <!-- Name -->
                        <div class="mt-8 flex-auto mr-8">
                            <mat-form-field class="w-full ">
                                <mat-label>Nombre del Item</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:tag"></mat-icon>
                                <input matInput [formControlName]="'name'" placeholder="Nombre del Item" [spellcheck]="false" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="itemForm.get('name').errors">
                                    {{matcher.getErrorMessage('name', itemForm)}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Stock -->
                        <div class="mt-8">
                            <mat-label class="font-medium">Stock del producto</mat-label>
                            <div class="flex items-center">
                                <mat-form-field class="w-full">
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:chart-pie"></mat-icon>
                                    <input type="number" matInput [formControlName]="'stock'" placeholder="stock" [spellcheck]="false" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="itemForm.get('stock').errors">
                                        {{matcher.getErrorMessage('stock', itemForm)}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                
                    <ng-container *ngIf="item.key">
                        <div class="mt-4 text-center">
                            <button mat-menu-item (click)="openDialog()">
                                <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                                <span class="ml-2">Editar Imagen</span>
                            </button>
                        </div>
                    </ng-container>
                
                    <div class="grid grid-cols-2">
                        <div class="mt-4">
                            <mat-form-field class="w-full">
                                <mat-label>Unidad de venta</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:scale"></mat-icon>
                                <input matInput [formControlName]="'unitOfMeasurement'" placeholder="Unidad de venta" [spellcheck]="false" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="itemForm.get('unitOfMeasurement').errors">
                                    {{matcher.getErrorMessage('unitOfMeasurement', itemForm)}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mt-4 pl-4">
                            <mat-form-field class="w-full">
                                <mat-label>Precio</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:currency-dollar"></mat-icon>
                                <input type="number" matInput [formControlName]="'price'" placeholder="Precio" [spellcheck]="false" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="itemForm.get('price').errors">
                                    {{matcher.getErrorMessage('price', itemForm)}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                
                    <div class="mt-4">
                        <mat-form-field class="w-full">
                            <mat-label>Categoria</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:clipboard-list"></mat-icon>
                            <input matInput [formControlName]="'category'" placeholder="Categoria del producto" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="itemForm.get('category').errors">
                                {{matcher.getErrorMessage('category', itemForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput [formControlName]="'description'" placeholder="Descripcion" [spellcheck]="false" [errorStateMatcher]="matcher" cols="30" rows="3"></textarea>
                            <mat-error *ngIf="itemForm.get('description').errors">
                                {{matcher.getErrorMessage('description', itemForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent ">
                        <!-- Delete -->
                        <ng-container *ngIf="item.key !=''">
                            <button mat-button color="warn" matTooltip="Eliminar" (click)="deleteItem()">
                                Eliminar
                            </button>
                        </ng-container>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button matTooltip="Cancelar" (click)="toggleEditMode(false)">
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-flat-button color="primary" [disabled]="itemForm.invalid" matTooltip="Guardar " (click)="updateItem()">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>