<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="flex items-center justify-between bg-blue-900 w-full h-16 p-6 pt-0 pb-0 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl truncate">Detalles del Usuario</span>
            </div>
            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:dots-vertical"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="toggleEditMode(true)">
                        <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                        <span class="ml-2">Editar</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="deleteEvent()">
                        <mat-icon class="text-red-500" svgIcon="heroicons_outline:trash"></mat-icon>
                        <span class="text-red-500">Eliminar</span>
                    </button>
                </mat-menu>

                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{event.name}}</div>

                <!-- Status -->
                <div class="flex flex-wrap items-center">
                    <div>
                        <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer" [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': (event.status|lowercase) === 'active',
                                         'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': (event.status|lowercase) === 'inactive'}">

                            <!-- Activo -->
                            <ng-container *ngIf="(event.status|lowercase) === 'active'">
                                <mat-icon class="icon-size-5 text-current" svgIcon="heroicons_solid:check-circle"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Activo</span>
                            </ng-container>

                            <!-- Inactivo -->
                            <ng-container *ngIf="(event.status|lowercase) === 'inactive'">
                                <mat-icon class="icon-size-4 text-current" svgIcon="heroicons_solid:x-circle"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Inactivo</span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Name -->
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:archive"></mat-icon>
                        <div class="ml-6 leading-6">{{event.name}}</div>
                    </div>
                    <!-- Description -->
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:clipboard"></mat-icon>
                        <div class="ml-6 leading-6">{{event.description}}</div>
                    </div>

                    <!-- Phone -->
                    <ng-container *ngIf="event.phone">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:phone"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{event.phone}}</div>
                        </div>
                    </ng-container>

                    <!-- Category -->
                    <ng-container *ngIf="event.category">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:adjustments"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{event.category}}</div>
                        </div>
                    </ng-container>

                    <!-- Address -->
                    <ng-container *ngIf="event.address">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:location-marker"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{event.address}}</div>
                        </div>
                    </ng-container>

                    <!-- DateTime -->
                    <ng-container *ngIf="event.dateTime">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{event.dateTime | date:'mediumDate'}}</div>
                        </div>
                    </ng-container>
                    
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="flex items-center justify-between bg-blue-900 w-full h-16 px-8 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl">
                    {{ event.key === ''? 'Registrar': 'Editar'}} Evento
                </span>
            </div>
            <div class="flex items-center">
                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 pb-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <form [formGroup]="eventForm">
                    <div class="flex flex-wrap justify-between">
                        <!-- Name -->
                        <div class="mt-8 flex-auto" [ngClass]="{'mr-8': event.key}">
                            <mat-form-field class="w-full ">
                                <mat-label>Nombre del Evento</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:tag"></mat-icon>
                                <input matInput [formControlName]="'name'" placeholder="Nombre del Evento" [spellcheck]="false" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="eventForm.get('name').errors">
                                    {{matcher.getErrorMessage('name', eventForm)}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Status -->
                        <div class="mt-8" *ngIf="event.key">
                            <mat-label class="font-medium">Estado</mat-label>
                            <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer" [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': (event.status|lowercase) === 'active',
                                             'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': (event.status|lowercase) === 'inactive'}" [matMenuTriggerFor]="statusMenu">

                                <!-- Activo -->
                                <ng-container *ngIf="(event.status|lowercase) === 'active'">
                                    <mat-icon class="icon-size-5 text-current" svgIcon="heroicons_solid:check-circle"></mat-icon>
                                    <span class="ml-2 mr-1 text-md font-medium">Activo</span>
                                </ng-container>

                                <!-- Inactivo -->
                                <ng-container *ngIf="(event.status|lowercase) === 'inactive'">
                                    <mat-icon class="icon-size-4 text-current" svgIcon="heroicons_solid:x-circle"></mat-icon>
                                    <span class="ml-2 mr-1 text-md font-medium">Inactivo</span>
                                </ng-container>
                            </div>
                            <mat-menu #statusMenu="matMenu">
                                <!-- Activo -->
                                <button [ngClass]="{'bg-hover': (event.status|lowercase) === 'active'}" mat-menu-item (click)="setStatus('Active')">
                                    <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                        <span class="font-medium">Activo</span>
                                        <mat-icon class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
                                                  svgIcon="heroicons_solid:check-circle"></mat-icon>
                                    </span>
                                </button>
                                <!-- Inactivo -->
                                <button [ngClass]="{'bg-hover': (event.status|lowercase) === 'inactive'}" mat-menu-item (click)="setStatus('Inactive')">
                                    <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                        <span class="font-medium">Inactivo</span>
                                        <mat-icon class="mr-0 icon-size-4 text-red-600 dark:text-red-500"
                                                  svgIcon="heroicons_solid:x-circle"></mat-icon>
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full">
                            <mat-label>Teléfono</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:phone"></mat-icon>
                            <input matInput maxlength="10" minlength="6" [formControlName]="'phone'" placeholder="Telefono" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="eventForm.get('phone').errors">
                                {{matcher.getErrorMessage('phone', eventForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Ciudad</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:mail"></mat-icon>
                            <input matInput [formControlName]="'city'" placeholder="Ciudad" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="eventForm.get('city').errors">
                                {{matcher.getErrorMessage('city', eventForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Direccion</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:location-marker"></mat-icon>
                            <input matInput [formControlName]="'address'" placeholder="direccion" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="eventForm.get('address').errors">
                                {{matcher.getErrorMessage('address', eventForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput [formControlName]="'description'" placeholder="Descripcion" [spellcheck]="false" [errorStateMatcher]="matcher" cols="30" rows="10"></textarea>
                            <mat-error *ngIf="eventForm.get('description').errors">
                                {{matcher.getErrorMessage('description', eventForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent ">
                        <!-- Delete -->
                        <ng-container *ngIf="event.key !=''">
                            <button mat-button color="warn" matTooltip="Eliminar" (click)="deleteEvent()">
                                Eliminar
                            </button>
                        </ng-container>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button matTooltip="Cancelar" (click)="toggleEditMode(false)">
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-flat-button color="primary" [disabled]="eventForm.invalid" matTooltip="Guardar " (click)="updateEvent()">
                            Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>