<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="flex items-center justify-between bg-blue-900 w-full h-16 p-6 pt-0 pb-0 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl truncate">Detalles del Usuario</span>
            </div>
            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:dots-vertical"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item (click)="toggleEditMode(true)">
                        <mat-icon svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                        <span class="ml-2">Editar</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="deleteUser()">
                        <mat-icon class="text-red-500" svgIcon="heroicons_outline:trash"></mat-icon>
                        <span class="text-red-500">Eliminar</span>
                    </button>
                </mat-menu>

                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{user.fullname}}</div>

                <!-- Status -->
                <div class="flex flex-wrap items-center">
                    <div>
                        <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer" [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': (user.status|lowercase) === 'active',
                                         'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': (user.status|lowercase) === 'inactive'}">

                            <!-- Activo -->
                            <ng-container *ngIf="(user.status|lowercase) === 'active'">
                                <mat-icon class="icon-size-5 text-current" svgIcon="heroicons_solid:check-circle"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Activo</span>
                            </ng-container>

                            <!-- Inactivo -->
                            <ng-container *ngIf="(user.status|lowercase) === 'inactive'">
                                <mat-icon class="icon-size-4 text-current" svgIcon="heroicons_solid:x-circle"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Inactivo</span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Fullname -->
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                        <div class="ml-6 leading-6">{{user.fullname}}</div>
                    </div>
                    <!-- Username -->
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:tag"></mat-icon>
                        <div class="ml-6 leading-6">{{user.username}}</div>
                    </div>

                    <!-- Phone -->
                    <ng-container *ngIf="user.phone">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:phone"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{user.phone}}</div>
                        </div>
                    </ng-container>

                    <!-- Email -->
                    <ng-container *ngIf="user.email">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:mail"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{user.email}}</div>
                        </div>
                    </ng-container>

                    <!-- Password -->
                    <ng-container *ngIf="user.password">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:code"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{user.password}}</div>
                        </div>
                    </ng-container>

                    <!-- created Date -->
                    <ng-container *ngIf="user.createdDate">
                        <div class="flex">
                            <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                            <div class="max-w-none ml-6 prose prose-sm">{{user.createdDate | date:'mediumDate'}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="flex items-center justify-between bg-blue-900 w-full h-16 px-8 sm:px-12 dark:bg-accent-700">
            <div class="flex items-center justify-center">
                <span class="font-medium text-white text-2xl">
                    {{ user.key === ''? 'Registrar': 'Editar'}} Usuario
                </span>
            </div>
            <div class="flex items-center">
                <!-- Close button -->
                <button mat-icon-button matTooltip="Cerrar" [routerLink]="['../']">
                    <mat-icon class="text-white" svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>

        </div>

        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 pb-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <form [formGroup]="userForm">
                    <div class="flex flex-wrap justify-between">
                        <!--Username-->
                        <div class="mt-8 flex-auto" [ngClass]="{'mr-8': user.key}">
                            <mat-form-field class="w-full ">
                                <mat-label>Nombre de usuario</mat-label>
                                <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:tag"></mat-icon>
                                <input matInput [formControlName]="'username'" placeholder="Nombre de usuario" [spellcheck]="false" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="userForm.get('username').errors">
                                    {{matcher.getErrorMessage('username', userForm)}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Status -->
                        <div class="mt-8" *ngIf="user.key">
                            <mat-label class="font-medium">Estado</mat-label>
                            <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer" [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': (user.status|lowercase) === 'active',
                                             'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': (user.status|lowercase) === 'inactive'}" [matMenuTriggerFor]="statusMenu">

                                <!-- Activo -->
                                <ng-container *ngIf="(user.status|lowercase) === 'active'">
                                    <mat-icon class="icon-size-5 text-current" svgIcon="heroicons_solid:check-circle"></mat-icon>
                                    <span class="ml-2 mr-1 text-md font-medium">Activo</span>
                                </ng-container>

                                <!-- Inactivo -->
                                <ng-container *ngIf="(user.status|lowercase) === 'inactive'">
                                    <mat-icon class="icon-size-4 text-current" svgIcon="heroicons_solid:x-circle"></mat-icon>
                                    <span class="ml-2 mr-1 text-md font-medium">Inactivo</span>
                                </ng-container>
                            </div>
                            <mat-menu #statusMenu="matMenu">
                                <!-- Activo -->
                                <button [ngClass]="{'bg-hover': (user.status|lowercase) === 'active'}" mat-menu-item (click)="setStatus('Active')">
                                    <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                        <span class="font-medium">Activo</span>
                                        <mat-icon class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
                                                  svgIcon="heroicons_solid:check-circle"></mat-icon>
                                    </span>
                                </button>
                                <!-- Inactivo -->
                                <button [ngClass]="{'bg-hover': (user.status|lowercase) === 'inactive'}" mat-menu-item (click)="setStatus('Inactive')">
                                    <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                        <span class="font-medium">Inactivo</span>
                                        <mat-icon class="mr-0 icon-size-4 text-red-600 dark:text-red-500"
                                                  svgIcon="heroicons_solid:x-circle"></mat-icon>
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                    <!-- Fullname -->
                    <div class="mt-4">
                        <mat-form-field class="w-full">
                            <mat-label>Nombre Completo</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:identification"></mat-icon>
                            <input matInput [formControlName]="'fullname'" placeholder="Nombre Completo" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="userForm.get('fullname').errors">
                                {{matcher.getErrorMessage('fullname', userForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full">
                            <mat-label>Teléfono</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:phone"></mat-icon>
                            <input matInput maxlength="10" minlength="6" [formControlName]="'phone'" placeholder="Telefono" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="userForm.get('phone').errors">
                                {{matcher.getErrorMessage('phone', userForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Email</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:mail"></mat-icon>
                            <input matInput [formControlName]="'email'" placeholder="Email" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="userForm.get('email').errors">
                                {{matcher.getErrorMessage('email', userForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mt-4">
                        <mat-form-field class="w-full ">
                            <mat-label>Password</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5 " svgIcon="heroicons_solid:code"></mat-icon>
                            <input matInput [formControlName]="'password'" placeholder="password" [spellcheck]="false" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="userForm.get('password').errors">
                                {{matcher.getErrorMessage('password', userForm)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent ">
                        <!-- Delete -->
                        <ng-container *ngIf="user.key !=''">
                            <button mat-button color="warn" matTooltip="Eliminar" (click)="deleteUser()">
                                Eliminar
                            </button>
                        </ng-container>
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button matTooltip="Cancelar" (click)="toggleEditMode(false)">
                            Cancelar
                        </button>
                        <!-- Save -->
                        <button class="ml-2" mat-flat-button color="primary" [disabled]="userForm.invalid" matTooltip="Guardar " (click)="updateUser()">
                            Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>